.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  height: calc(10vh - 25px);
}
.header-img{
  width: 65px;
  height: 65px;
  min-width: 65px;
  min-height: 65px;
  border-radius: 100%;
}
.header-menu{
  width: 65px;
  height: 65px;
  min-width: 65px;
  min-height: 65px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-textInfo{
  width: 100%;
  padding: 10px 15px;
}
.header-textInfo-PIB{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
}
.header-textInfo-rating{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #798f6b;
}
.header-textInfo-rating span{
  letter-spacing: -4px;
  display: flex;
  transform: rotate(-90deg);
  width: fit-content;
  padding-right: 5px;
}